.boton-calcular{
  width: 150px;
    height: 35px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    background-color: #006779;
    border: 2px solid white;
    border-radius: 7px;
    margin: 90px 0px -80px 25px;
    cursor: pointer;

  }
  
  .boton-calcular:hover{
    background-color: white;
    color: #1b1b32;
    border: 2px solid #006779;
  }

  @media (max-width: 480px) {
    .boton-calcular {
      max-width: 60%;
      font-size: 1rem; 
      margin: 50px 0px 0px 0px;
    }
  }
  