.contenedorInput {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #21213b;
    margin-bottom: 5px;
    margin-top: 15px;
}

.input {
    width: 150px;
    font-size: 1.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    height: 35px;
    text-align: right;
    color: #1b1b32;
    background-color: #e2fbff;
    border-radius: 7px;
    padding: 17px;
    margin-right: 40px;
}

.input.errorInput {
    width: 150px;
    height: 35px;
    font-size: 1.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #e2fbff;
    border-radius: 7px;
    padding: 10px;
}

.mensajeDeError {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    margin: 15px 0px;
}

/* Estilos para la pseudoclase :focus */
.input:focus {
    border-color: #00d9ff;
    /* Color del borde al hacer clic */
    outline: none;
    /* Eliminar el contorno predeterminado */
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 480px) {

    .contenedorInput{
        justify-content: center;
        text-align: center;
    }

    .input {
        max-width: 60%;
        font-size: 1rem; 
        margin-right: 3px;
      }

    .input:focus {
        border-color: #00d9ff; 
    }
}